<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="nav">
    <a class="nav-link active" aria-current="page" href="/categories">Categories</a>
    <a class="nav-link" href="/transactions">Transactions</a>
    <a class="nav-link" href="/accounts">Accounts</a>
    <a class="nav-link" href="/logout">Logout</a>
</nav>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">User info</h4>
    </div>
    <div class="panel-body">
        <div>
            <div class="row">
                <span>Username : ${firstName}!</span>
                <br>
                <span>User id : ${id}</span>
                <br>
                <span>
                      Email : ${email}
                </span>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>